html {
    background-color: #000;
}

/* CONATINER */

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, #f1534f, #FBB03B);
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rocket-web {
    background-color: #fff;
    width: 700px;
    height: 450px;
    margin-top: 75px;
    margin-left: 50px;
}

/* NAV */

.rocket-container {

}

.rocket-menu {
    text-transform: uppercase;
    display: inline;
    float: right;
    margin-top: 42px;
}

 .menu {
    text-decoration: none;
    font-size: 12px;
    color: #838383;
    margin-right: 24px;
}

.menu img {
    margin-right: 16px;
   
}

.menu-home {
    font-weight: bold;
    color: #000;
}

/* BANNERS */

.banners {
    position: absolute;
    top: 50%;
    left: 37.5%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    min-height: 350px;;
    margin-left: 100px;
    display: flex;
    width: 600px;
    height: 350px;
}

.web-banner {
    width: 230px;
}

.left-banner {
    display: flex;
    width: 50%;
    font-family: sans-serif;
}

.banner-text {
    text-align: center;
    background: linear-gradient(0deg, #f1534f, #FBB03B);
    min-width: 180px;
    height: 180px;
    width: 180px;
}

.web-banner h1 {
    font-size: 29px;
    font-weight: bold;
}

.web-banner h2 {
    font-size: 16px;
    color: #838383;
    margin-bottom: 30px;
    margin-top: -15px;
}

.web-banner p {
    font-size: 12px;
    color: #fff;
    padding-top: 20px;
}

.banner-batton {
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-decoration: none; 
    width: 180px;
    padding-top: 14px;
    padding-bottom: 16px;
    background-color: #0f83fe;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 50px;
}

.batton img {
    margin-bottom: -5px;
}

.rigth-banner {
    margin-top: 100px;
    display: flex;
    float: right;
}

.rocket {
    width: 50%;
    float: right;
}

.rocket img {
    margin-top: -20px;
    margin-right: 50px;
}









